.components-mask__show-mobile {
    display: flex;
}
.components-mask-mobile {
    width: 100vw;
    height: 200vh;
    z-index: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    display: none;
    transition: all 0.5s ease;
}
.components-mask-show-mobile {
    background: rgba(0,0,0,.5019607843137255);
    width: 100vw;
    height: 200vh;
    z-index: 111111;
    opacity: 111111;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s ease;
}
* {
    font-family: Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.65;
    list-style: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.component-popup-wrapper-mobile {
    position: fixed;
    bottom: 0;
    max-height: calc(100% - 44px);
    height: calc(0% - 20px);
    left: 0;
    opacity: 9999;
    z-index: 9999;
    width: 100%;
    background-color:var(--bg-c-white-ff);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all 0.5s ease-out;
}
.component-popup-wrapper-mobile-show {
    position: fixed;
    bottom: 0;
    height: calc(100% - 20px);
    max-height: calc(100% - 44px);
    left: 0;
    opacity: 9999;
    z-index: 9999;
    width: 100%;
    background-color:var(--bg-c-white-ff);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all 0.5s ease-out;
}
.component-popup-wrapper-mobile-content {
    position: relative;
    height: 100%;
    min-height: 200px;
}

.components-ajax-auth-login {
    position: absolute;
    bottom: 0;
    left: 100%;
    display: none;
    width: 100vw;
    height: 100%;
    border-radius: 12px 12px 0 0;
    background: var(--c-white-ff);
    /*z-index: 501;*/
    overflow: hidden;
    left: 0;
}
.components-ajax-auth-login .close-icon {
    /* position: absolute; */
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    width: 20px;
    height: 20px;
    z-index: 1;
}


.components-ajax-auth-login__scroll-container {
    height: 100%;
    overflow-y: auto;
    padding: 40px 20px 0;
}
.components-ajax-auth-login__top-img {
    display: block;
    height: 140px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
}
.components-ajax-auth-login .tab-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px;
}

.components-ajax-auth-login .tab-trigger .tab-item.active {
    color: var(--c-black-1414);
}
.components-ajax-auth-login .tab-trigger .tab-item {
    position: relative;
    margin: 0 30px;
    font-size: 18px;
    font-weight: 700;
    color: var(--c-gray-595);
}

.components-ajax-auth-login .form-wrap .input-wrap {
    position: relative;
    margin: 0 0 20px;
}
.components-ajax-auth-login .form-wrap .input-wrap input:not(:placeholder-shown) {
    font-weight: 500;
}
.components-ajax-auth-login .form-wrap .input-wrap input {
    display: block;
    line-height: 30px;
    width: 100%;
    color: var(--c-blue-05e2);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}
.email-input{
    font-size: 16px;
    font-weight: 400;
}
input, select, textarea {
    font-size: 16px;
    font-weight: 400;
}
.components-ajax-auth-login .form-wrap .input-wrap .field-tips {
    display: none;
    margin-top: 5px;
    color: var(--c-gray-8c8c);
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}
.components-ajax-auth-login .form-wrap .password-input-wrap {
    margin-bottom: 30px;
}
.components-ajax-auth-login .form-wrap .input-actions {
    position: absolute;
    right: 5px;
    top: 0;
}
.components-ajax-auth-login .form-wrap label.input-clear {
    display: none;
}
.components-ajax-auth-login .form-wrap .input-actions>* {
    vertical-align: middle;
}
.components-ajax-auth-login .form-wrap .input-clear-icon {
    width: 16px;
    line-height: 1;
}
.components-ajax-auth-login .form-wrap .input-actions>:not(:first-child) {
    margin-left: 20px;
}
.components-ajax-auth-login .form-wrap .password-visible-trigger {
    color: var(--c-white-c5c5);
}
.components-ajax-auth-login .form-wrap .input-actions>* {
    vertical-align: middle;
}
.components-ajax-auth-login .form-wrap .password-visible-trigger .iconfont {
    font-size: 18px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-l_icon_eyes_nor:before {
    content: "\e638";
}
.components-ajax-auth-login .form-wrap .password-visible-trigger .icon-l_icon_eyes_sel, .components-ajax-auth-login .form-wrap .password-visible-trigger.visible .icon-l_icon_eyes_nor {
    display: none;
}
.components-ajax-auth-login .btn {
    height: 48px;
    line-height: 48px;
    width: 100%;
    border-radius: 4px;
    background-color:var(--bg-c-black-1414);
    color: var(--c-white-ff);
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 1px;
}
.sign-in button {
    border: none;
    background-color: var(--bg-c-white-cedb);
    padding: 2px 8px;
}
.components-ajax-auth-login .register-advertising, .components-ajax-auth-login button.register {
    /*display: none;*/
}
.components-ajax-auth-login .coupon {
    display: none;
    margin-top: 10px;
    text-align: left;
    line-height: 16px;
    background: rgba(241,221,195,.5);
    font-size: 12px;
    font-weight: 400;
    color: var(--c-white-b183);
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
}
.components-ajax-auth-login .coupon .content {
    position: relative;
    padding: 10px 15px;
}

.components-ajax-auth-login .coupon .content p {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-weight: 600;
}
.components-ajax-auth-login .form-wrap .forgot-pass-trigger {
    margin: 10px 0 0;
    text-align: right;
}
.forgot-pass-trigger a {
    transition: color .3s;
    color: var(--c-gray-8c8c);
    text-decoration: none;
}
.components-ajax-auth-login .form-wrap .forgot-pass-trigger a {
    text-decoration: none;
    color: var(--c-gray-595);
    font-size: small;
}
.components-ajax-auth-login .third-party {
    display: none;
    margin: 30px 0 20px;
    text-align: center;
    color: var(--c-white-3949);
    font-size: 0;
}
.components-ajax-auth-login .hr-solid-content {
    color: var(--c-black-111);
    border: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 1em 0;
    position: relative;
}
.hr-solid-content {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.components-ajax-auth-login .third-party .btn-container {
    display: flex;
    justify-content: center;
}
.components-ajax-auth-login .third-party .third-party-btn-item:not(:last-child) {
    margin-right: 20px;
}
.S9gUrf-YoZ4jf, .S9gUrf-YoZ4jf * {
    border: none;
    margin: 0;
    padding: 0;
}
.components-ajax-auth-login .third-party img {
    width: 40px;
    height: 40px;
    display: none;
    display: inline-block;
}
.components-ajax-auth-login .notify-checkbox {
    display: none;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
}
.components-ajax-auth-login .notify-checkbox .checkbox {
    margin-right: 5px;
    color: var(--c-black-1414);
}

.components-ajax-auth-login .notify-checkbox .checkbox.checked i.unchecked {
    display: none;
}
.components-ajax-auth-login .notify-checkbox .checkbox.checked i.checked {
    display: block;
}
.components-ajax-auth-login .notify-checkbox .checkbox i.checked {
    display: none;
    line-height: 1;
}
.components-ajax-auth-login .notify-checkbox .checkbox i {
    display: block;
    line-height: 20px;
    font-size: 14px;

}
.components-ajax-auth-login .notify-checkbox .message {
    font-size: 14px;
    font-weight: 400;
    color: var(--c-gray-8c8c);
    font-size: 12px;
}
.components-ajax-auth-login .hr-solid-content:before {
    content: attr(data-content);
    position: absolute;
    padding: 0 10px;
    line-height: 1px;
    border: solid #ebebeb;
    border-width: 0 80px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}
.components-ajax-auth-login .notify-checkbox .message {
    font-size: 14px;
    font-weight: 400;
    color: var(--c-gray-8c8c);
    font-size: 12px;
}
.components-ajax-auth-forgot-pass .back-icon .iconfont {
    font-size: 23px;
}
.components-ajax-auth-forgot-pass .close-icon img {
    width: 20px;
    line-height: 1;
}
.components-ajax-auth-forgot-pass .content-container {
    position: absolute;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.components-ajax-auth-forgot-pass .content-container .title {
    font-size: 16px;
    font-weight: 700;
    color: var(--c-black-1414);
    text-align: center;
    margin-bottom: 20px;
}
.components-ajax-auth-forgot-pass .content-container .tips {
    font-size: 14px;
    font-weight: 400;
    color: var(--c-gray-595);
    text-align: center;
    margin-bottom: 30px;
}
.components-ajax-auth-forgot-pass .email-input-wrap input {
    display: block;
    line-height: 30px;
    width: 100%;
    color: var(--c-black-1414);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}
.email-input{
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.components-ajax-auth-forgot-pass .email-input-wrap .field-tips {
    display: none;
    margin-top: 5px;
    color: var(--c-gray-8c8c);
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}
.components-ajax-auth-forgot-pass .submit-button.disabled {
    background-color: var(--bg-c-white-d9d9);
}
.components-ajax-auth-forgot-pass .submit-button {
    height: 48px;
    line-height: 48px;
    width: 100%;
    border-radius: 4px;
    background-color:var(--bg-c-black-1414);
    color: var(--c-white-ff);
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 40px;
}
.components-ajax-auth-set-pass
 {
    border: none;
    background-color:var(--bg-c-white-cedb);
    padding: 2px 8px;
}
.components-ajax-auth-set-pass .back-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.components-ajax-auth-set-pass .back-icon .iconfont {
    font-size: 23px;
}
.components-ajax-auth-set-pass .content-container {
    position: absolute;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.components-ajax-auth-set-pass .content-container .tips {
    font-size: 14px;
    font-weight: 400;
    color: var(--c-gray-595);
    text-align: center;
    margin-bottom: 30px;
    display: none;
}
.components-ajax-auth-set-pass .email-input-wrap input {
    display: block;
    line-height: 30px;
    width: 100%;
    color: var(--c-black-1414);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}
.components-ajax-auth-set-pass .email-input-wrap .field-tips {
    display: none;
    margin-top: 5px;
    color: var(--c-gray-8c8c);
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}
.components-ajax-auth-set-pass .submit-button.disabled {
    background-color: var(--bg-c-white-d9d9);
}
.components-ajax-auth-set-pass .submit-button {
    height: 48px;
    line-height: 48px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--bg-c-black-1414);
    color: var(--c-white-ff);
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 40px;
}
.submit-button  {
    border: none;
    background-color: var(--bg-c-white-cedb);
    padding: 2px 8px;
}
.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: var(--c-black-000);
    cursor: auto;
    direction: ltr;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}
.fb_reset>div {
    overflow: hidden;
}
.password-input {
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.components-ajax-auth-login .tab-trigger .tab-item.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:var(--bg-c-black-1414);
}
.components-ajax-auth-login.register .register-advertising, .components-ajax-auth-login.register button.register {
    display: block;
}
.components-ajax-auth-login.had-login-coupon .coupon, .components-ajax-auth-login.register .coupon {
    display: block;
}
.components-ajax-auth-login .notify-checkbox .checkbox i.unchecked {
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.15);
}
.components-ajax-auth-login .notify-checkbox .checkbox i.checked {
    display: none;
    line-height: 1;
}
.components-ajax-auth-set-pass {
    position: absolute;
    bottom: 0;
    left: 100%;
    display: none;
    width: 100vw;
    height: 100%;
    border-radius: 12px 12px 0 0;
    background: var(--c-white-ff);
    z-index: 501;
    overflow: hidden;
}
.close-icon {
    line-height: 1;
    color: var(--c-white-c5c5);
    width: 20px;
    height: 20px;

}
.components-ajax-auth-login .form-wrap .input-wrap.error .field-tips {
    color: var(--c-red-f522);
}


.components-ajax-auth-login .third-party .hr-solid-content {
    margin-bottom: 20px;
}
.components-ajax-auth-login .hr-solid-content {
    color: var(--c-red-f522);
    border: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 1em 0;
    position: relative;
}
*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--c-white-e5e7);
}
.components-ajax-auth-login .form-wrap .password-visible-trigger.visible .icon-l_icon_eyes_sel {
    display: inline;
}
.password-input  {
    appearance: menulist-button;
    background-image: none !important;
    background-color:var(--bg-c-brown-rgba262237);
    /*-webkit-text-security: disc !important;*/
    padding: 1px 2px;
}
.components-ajax-auth-login .form-wrap .password-visible-trigger {
    color: var(--c-white-c5c5);
}
.icon-l_icon_eyes_sel{
    display: none;
}
.forgot-pass-trigger a {
    transition: color .3s;
    color: var(--c-gray-8c8c);
    text-decoration: none;
    font-weight: 400;
}
 .couponn {
    display: block;
    margin-top: 10px;
    text-align: left;
    line-height: 16px;
    background: rgba(241,221,195,.5);
    font-size: 12px;
    font-weight: 400;
    color: var(--c-white-b183);
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
}
.couponn .content{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-weight: 600;
    position: relative;
    padding: 10px 15px;


}

.countent p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.components-ajax-auth-login.register .notify-checkbox {
    display: flex;
    align-items: center;
}
 .notify-checkboxx {
    display: block;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
    display: flex;
    align-items: center;

}
.components-ajax-auth-login .notify-checkboxx .message {
    font-size: 14px;
    font-weight: 400;
    color: var(--c-gray-8c8c);
    font-size: 12px;
    margin-left: 9px;
}
.components-ajax-auth-login .notify-checkboxx .checkbox i.checked {
    line-height: 1;
}
.components-nav-bar__back {
    margin-left: 15px;
    height: 18px;
    width: 18px;
    color: var(--c-black-000);
    display: flex;
    justify-content: center;
    align-items: center;
}
.components-nav-bar .icon-c_icon_left, .components-nav-bar .icon-m_icon_rules {
    font-size: 18px;
    color: var(--c-black-000);
}
.icon-c_icon_left:before {
    content: "\e60b";
}
.components-nav-bar .icon-c_icon_left, .components-nav-bar .icon-m_icon_rules {
    font-size: 18px;
    color: var(--c-black-000);
}
.collection {
    background:var(--bg-c-white-ff);
    min-height: 100vh;
}
.title-number-wrapper {
    padding: 12px 12px 0;
    background-color: var(--bg-c-white-ff);
    border-top: 1px solid rgba(0,0,0,.04);
}
.title-number-wrapper .title {
    font-size: 16px;
    line-height: 20px;
    color: var(--c-black-000);
    font-weight: 600;
    margin-right: 10px;
}
.title-number-wrapper .number {
    font-size: 12px;
    line-height: 14px;
    color: var(--c-gray-313);
}
/* .collection #collection-header {
    position: sticky;
    top: 0;
    z-index: 9;
    top: 44px;
} */
.collection.filter-type-v0 .component__classify {
    padding: 12px 0 18px;
    transition: padding .2s;
}
.collection .component__classify {
    position: relative;
}
.component__classify {
    background-color: var(--bg-c-white-ff);
    overflow: hidden;
}
.component__classify .swiper-container {
    padding: 0 12px;
    overflow: visible;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    transform: translateZ(0);
}
.component__classify .swiper-slide:first-of-type {
    margin-left: 0;
}
.component__classify .swiper-slide {
    width: auto;
    margin-left: 8px;
}
.component__classify-inner {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.component__classify-item {
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    color: var(--c-gray-313);
    background-color: var(--bg-c-gray-rgba242242);
    padding: 0 10px;
    border-radius: 4px;
    line-height: 28px;
    height: 28px;
}
.component__classify-item a {
    transition: color .3s;
    color: var(--c-gray-8c8c);
    text-decoration: none;
    background-color: transparent;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.collection.filter-type-v0 .component__classify:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 6px;
    width: 100%;
    background-color: var(--bg-c-white-f8f9f9);
    transition: height .2s;
}
.component__sorter {
    padding: 0 20px;
    background-color:var(--bg-c-white-ff);
    overflow: hidden;
}
.component__sorter-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}
.component__sorter .left-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    max-width: calc(78% - 47px);
}
.component__sorter-inner .component__sorter-btn {
    font-size: 14px;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    height: 20px;
    width: auto;
    margin-left: 0;
    max-width: 33%;
}
.component__sorter-btn {
    background-color: var(--bg-c-transparent);
    width: 25%;
    text-align: left;
    margin-left: 10px;
    border-radius: 4px;
    border: none;
    padding: 2px 8px;
}
.component__sorter-inner .component__sorter-btn-inner {
    color: var(--c-gray-313);
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
}
.component__sorter-btn-inner {
    color: var(--c-gray-595);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    font-weight: 400;
}
.component__sorter-inner .component__filter-btn {
    background-color: var(--bg-c-transparent);
    position: relative;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    max-width: 22%;
    font-size: 14px;
    font-weight: 400;
}
.component__sorter-inner .component__filter-btn-inner {
    color: var(--c-gray-313);
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    display: inline-block;
}
.component__sorter-inner .component__filter-btn .icon-c_icon_filter_sel {
    font-size: 13px;
    display: inline-block;
    height: 13px;
    width: 12px;
    margin-left: 5px;
    position: relative;
    top: -4px;
    color: var(--c-gray-868c);
}
.icon-c_icon_filter_sel:before {
    content: "\e608";
}
.component__sorter-inner .component__filter-btn .count {
    position: absolute;
    top: -6px;
    right: -1px;
    transform: translateX(65%);
    background: var(--c-black-000);
    color: var(--c-white-ff);
    line-height: 16px;
    border-radius: 8px;
    min-width: 16px;
    text-align: center;
    padding: 0 3px;
    font-size: 12px;
}
.layout-footer {
    background: #f1f2f3;
    position: relative;
}
.layout-footer__info {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    color: var(--c-black-1414);
}
.layout-footer__info-tree-top {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e1e3;
    flex-wrap: wrap;
}
.layout-footer__info-tree-top .text {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    display: inline-block;
    width: calc(100% - 24px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.layout-footer__info-tree-top .iconfont {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
}
.icon-icon_add:before {
    content: "\e68a";
}

.layout-footer__info-tree-top-content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all .35s;
}
.layout-footer__info-tree-top-content-item:first-of-type {
    margin-top: 12px;
}
.layout-footer__info-tree-top-content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
.layout-footer__info-tree-top-content-item .iconfont {
    font-size: 14px;
}
.icon-global_arrow_right_12:before {
    content: "\e665";
}
.layout-footer__info-tree-top-content-item .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.layout-footer__payment-icons {
    display: flex;
    flex-wrap: wrap;
    padding: 0 19px;
}


.layout-footer__payment-icons img {
    font-size: 14px;
    font-weight: 400;
    color: var(--c-gray-8c8c);
    text-align: center;
    margin-top: 4px;
    padding-bottom: 10px;
    height: 16px!important;
    background: #f1f2f3!important;
    background-color:var(--bg-c-red);
}
.layout-footer__copyright {
    font-size: 14px;
    font-weight: 400;
    color: var(--c-gray-8c8c);
    text-align: center;
    margin-top: 4px;
    padding-bottom: 10px;
}












.collection__list-wrapper {
    position: relative;
    margin-top: 1px;
    padding: 0 12px;
}


.product__list-wrapper {
    overflow: hidden;
}
.activity__pop .product__list, .collection__list.product__list, .component__product-recommend--list.product__list, .product__list.recommend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.collection__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product__list {
    width: 100%;
    position: relative;
}
.activity__pop .product__list .product__item, .collection__list.product__list .product__item, .component__product-recommend--list.product__list .product__item, .product__list.recommend-list .product__item {
    width: calc(50% - 6px);
    padding: 0;
}
.product__item, .product__item .component__product-picture-wrapper {
    border-radius: 0;
}
.layout-footer__payment-icons img {
    height: 16px!important;
    background: #f1f2f3!important;
    height: 16px!important;
    margin: 0 12.5px 16px;
    padding: 0!important;
}

.component-top-banner .img {
    width: 100%;
    height: 50px;
}
.layout-header__download-app-tips {
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 6px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--c-white-ff);
    z-index: 102;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), inset 0 0.5px 0 rgba(0,0,0,.12), inset 0 -0.5px 0 rgba(0,0,0,.12);
}
.show-down-tips .config__page--controll{
    margin-top: 68px;
    position: relative;
    min-height: 100%;
    top: 0px;
}
.body.show-down-tips{
    margin-top: 68px;
    position: relative;
    min-height: 100%;
    top: 0px;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--c-gray-595);
    background-color: var(--bg-c-white-fafa);
}
.account .account__setting__item {
    height: 44px;
    background-color: var(--bg-c-white-ff);
    position: relative;
}
.account .account__setting__item .account__header__left {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 13px;
}
.account .account__setting__item .account__service__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 15px;
    top: 13px;
}
.account {
    background-color: var(--bg-c-white-fafa);
}
 .unlogined--status {
    background-color: var(--bg-c-white-ff);
    padding: 5px 20px;
}

 .account__setting__item--wrapper .account-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 10px;
    overflow: hidden;
}
 .coupon-account {
    text-align: left;
    line-height: 16px;
    background: var(--c-white-fff1);
    font-size: 12px;
    font-weight: 400;
    color: var(--c-red-f522);
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
  .coupon-account:after,  .coupon-account:before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background: var(--c-white-fafa);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -1px;
    transform: translate(-50%,-50%);
    z-index: 1;
    border: 1px solid var(--c-red-f522);
}
 .coupon-account .content {
    position: relative;
    padding: 3px 16px;
    border: 1px solid var(--c-red-f522);
    border-radius: 2px;
}
 .coupon-account .content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100vw - 72px);
    height: 20px;
}
 .coupon-account:after {
    left: auto;
    right: -1px;
    transform: translate(50%,-50%);
}
.userInfo__unlogin{
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 700;
    color: var(--c-black-1414);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
* {
    font-family: Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.65;
    list-style: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.account .account__setting__item {
    height: 44px;
    background-color:var(--bg-c-white-ff);
    position: relative;
}

.account .account__setting__item .account__service__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 15px;
    top: 13px;

}

.account .account__setting__item .account__header__left {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 13px;
}
.account {
    background-color:  var(--bg-c-white-fafa);
}
*, .tips_small {
    font-weight: 400;
}
.account .account__setting__item .account__header__left img{

        border-style: none;

}
.account__service__icon {
    width: 24px;
    height: 24px;
}

.account__header__left{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 13px;
}
.component-top-banner .img {
    width: 100%;
}
.component-top-banner {
    display: block;
    font-size: 0;
}
.component-top-banner{
    transition: color .3s;
    color: var(--c-gray-8c8c);
    text-decoration: none;
}
*, .tips_small {
    font-weight: 400;
}

  .account__unlogin .userInfo__unlogin {
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 700;
    color: var(--c-black-1414);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}





.account__orderStatus {
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    background-color: var(--bg-c-white-ff);
}
.account__orderStatus__title {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    line-height: 20px;
}
.account__orderStatus__title__left {
    font-size: 16px;
    font-weight: 700;
    max-width: 320px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--c-black-1414);
}
.account__orderStatus__title__right {
    font-size: 12px;
    font-weight: 400;
    color: var(--c-gray-595);
}
.account__orderStatus__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account__orderStatus__content .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 68px;
    max-width: 68px;
}
.account__orderStatus__content .title .title--wrapper {
    height: 24px;
    position: relative;
}
.account__orderStatus__content img {
    width: 24px;
    height: 24px;
}
.account__orderStatus__content .title .item {
    margin-top: 5px;
    height: 17px;
    line-height: 17px;
    max-width: 68px;
    color: var(--c-black-1414);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.account__orderStatus__content .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 68px;
    max-width: 68px;
}
.account__orderStatus__content img {
    width: 24px;
    height: 24px;
}
.account__orderStatus__content .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 68px;
    max-width: 68px;
}
.account__orderStatus__content .title .title--wrapper {
    height: 24px;
    position: relative;
}
.account__orderStatus__content img {
    width: 24px;
    height: 24px;
}
.account__orderStatus__content .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 68px;
    max-width: 68px;
}
.account__orderStatus__content .title .title--wrapper {
    height: 24px;
    position: relative;
}
.account__orderStatus__content img {
    width: 24px;
    height: 24px;
}
 .account-more-service {
    background-color: var(--bg-c-white-ff);
    border-radius: 8px;
    margin: 10px 10px 0;
    padding: 10px 10px 0;
}
 .account-more-service .more-service-title {
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--c-black-1414);
    line-height: 20px;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 .account-more-service .service-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    line-height: 40px;
}
 .account-more-service .service-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 22px);
}
 .account-more-service .service-item-left img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
 .account-more-service .service-item-left .service-item-info {
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--c-black-1414);
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
 .account-more-service .service-item-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.account .account-more-service .service-item-right img {
    width: 12px;
    height: 12px;
}
 .account-more-service .service-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    line-height: 40px;
}
 .account-more-service .service-items-last {
    border-top: 1px solid rgba(0,0,0,.04);
}
 .account-more-service .service-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 22px);
}
 .account-more-service .service-item-left img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
 .account-more-service .service-item-left .service-item-info {
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--c-black-1414);
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
 .account-more-service .service-item-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
 .account-more-service .service-item-right img {
    width: 12px;
    height: 12px;
}
.account .account-more-service .service-items-last {
    border-top: 1px solid rgba(0,0,0,.04);
}
 .account-more-service .service-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    line-height: 40px;
}
 .account-more-service .service-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 22px);
}
 .account-more-service .service-item-left img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
 .account-more-service .service-item-left .service-item-info {
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--c-black-1414);
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
 .account-more-service .service-item-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
 .account-more-service .service-item-right img {
    width: 12px;
    height: 12px;
}
.service-items-wrapper a{

        transition: color .3s;
        color: var(--c-gray-8c8c);
        text-decoration: none;
        transition: color .3s;
        color: var(--c-gray-8c8c);
        text-decoration: none;
        background-color: var(--bg-c-transparent);
}
 .account-more-service .service-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    line-height: 40px;
}
.account .account-more-service .service-items-last {
    border-top: 1px solid rgba(0,0,0,.04);
}
 .account-more-service .service-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 22px);
}
 .account-more-service .service-item-left img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
 .account-more-service .service-item-left .service-item-info {
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--c-black-1414);
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
 .account-more-service .service-item-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
 .account-more-service .service-item-right img {
    width: 12px;
    height: 12px;
}
.account .account-ads {
    margin: 15px 0;
    border-radius: 8px;
    padding: 0 10px calc(10px + env(safe-area-inset-bottom));
}
.account-ads {
    padding: 0 10px;
    margin: 15px 0;
    border-radius: 8px;
}
.account .account-aws .component-bottom-recommend-aws {
    display: block;
    border-radius: 8px;
    margin: 10px 10px 0;
    padding: 10px 10px 0;
}
.component-bottom-recommend-aws {
    background-color: var(--bg-c-white-ff);
}
.component-bottom-recommend-aws .header-title {
    padding: 16px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--c-gray-313);
    text-transform: capitalize;
}
.component-bottom-recommend-aws .product-list {
    position: relative;
}
.account .account-aws .component-bottom-recommend-aws .recommend-products {
    padding: 0;
}
.component__product-recommend {
    padding: 0 15px;
    display: none;
}
.activity__pop .product__list, .collection__list.product__list, .component__product-recommend--list.product__list, .product__list.recommend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: bottom;
}
.activity__pop .product__list .product__item, .collection__list.product__list .product__item, .component__product-recommend--list.product__list .product__item, .product__list.recommend-list .product__item {
    width: calc(50% - 6px);
    padding: 0;
}
.component__product-main {
    position: relative;
    border: 1px solid #f2f2f3;
    height: auto;
}
.product__item, .product__item .component__product-picture-wrapper {
    border-radius: 0;
    padding-top: calc(133.33333333333% - 3px);
}
.component__product-picture-wrapper {
    position: relative;
    z-index: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    background-color:  var(--bg-c-white-ebeb);
}
img.lazyloaded, img.swiper-lazy-loaded {
    -o-object-fit: unset;
    object-fit: unset;
    padding: 0!important;
}
.lazyloaded img.lazyloaded, img.swiper-lazy-loaded{
    -o-object-fit: unset;
    object-fit: unset;
    padding: 0!important;
}
.component__product-picture {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.component-tag {
    display: inline-block;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    border-radius: 12px;
}
.component__product .component-tag-discount {
    border-radius: 0;
    top: 6px;
    padding: 2px;
}
.component-tag-discount, .component-tag-discount:before {
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 8px;
}
.component-tag-discount {
    font-size: 0;
    position: relative;
    padding: 2px 5px;
}
.component__product .component-tag-discount:before {
    border-radius: 0;
}
.component-tag-discount:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(245,34,45,.9);
    z-index: 0;
}
.component__product .component-tag-text {
    line-height: 12px;
    font-size: 10px;
}
.component-tag-text {
    font-size: 10px;
    line-height: 12px;
    color: var(--c-white-ff);
    position: relative;
}
.component__product-sold-out {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.4);
    z-index: 1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.component__product-sold-out-inner {
    width: 100%;
    font-family: PingFangSC-Regular,PingFang SC;
    color: var(--c-white-ff);
    text-align: center;
    text-transform: uppercase;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
.data-save{    font-size: 16px;
    font-weight: 400;
    overflow: visible;
}
.product__item button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.component__product-collect {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 4px;
}
.component__product-collect-icon-wrap {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-global_icon_wishlist_24_normal:before {
    content: "\e673";
}
.component__product-collect .iconfont {
    font-size: 16px;
    color: var(--c-gray-c4c4);
    line-height: 1;
}

.component__product-collect .icon_is-collected, .component__product-collect.is-collected .iconfont {
    display: none;
}
.component__product .flash-sale-countdown {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.flash-sale-countdown {
    white-space: nowrap;
    font-size: 0;
}
.component__product .flash-sale-countdown .lightning {
    width: 18px;
    height: 18px;
    background-color: var(--bg-c-yallow-f3c7);
    border-radius: 50%;
    text-align: center;
    margin-right: 4px;
}
.component__product .flash-sale-countdown .lightning .iconfont {
    font-size: 12px;
    line-height: 20px;
    color: var(--c-black-222);
    margin-left: 1px;
}

.component__product .flash-sale-countdown .lightning .iconfont {
    font-size: 12px;
    line-height: 20px;
    color: var(--c-black-222);
    margin-left: 1px;
}
.icon-flash-sale:before {
    content: "\e690";
}


.component__product .flash-sale-countdown .time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: var(--c-white-ff);
}
.component__product .flash-sale-countdown .time * {
    line-height: 14px;
}
.component__product .flash-sale-countdown .semi {
    color: var(--c-white-ff);
    width: auto;
    font-size: 12px;
    margin: -1px 1px 0;
}
.flash-sale-countdown .semi {
    display: inline-block;
    width: 11px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--c-white-ff);
}
.component__product .flash-sale-countdown .time * {
    line-height: 14px;
}
.component__product .flash-sale-countdown .semi {
    color: var(--c-white-ff);
    width: auto;
    font-size: 12px;
    margin: -1px 1px 0;
}
.component__product-info {
    padding: 8px 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--bg-c-white-ff);
}
.component__product-price-cart {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.component__product-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 80%;
    line-height: 24px;
}
.component__product-price-special {
    font-size: 0;
    position: relative;
}
.component__product-price.with-origin .component__product-price-special span {
    color: var(--c-red-dc26)!important;
}
.component__product-price-special span {
    display: inline-block;
    line-height: 24px;
}
.component__product-price-special .component__product-price-currency {
    font-size: 16px;
    font-weight: 700;
    color: var(--c-gray-313);
}
.is-chrome .component-title, .is-chrome .component__filter-btn.actived .component__filter-btn-inner, .is-chrome .component__product-info .component__product-price-number {
    font-weight: 600!important;
}
.component__product-price-special .component__product-price-number {
    font-size: 16px;
    font-weight: 700;
    color: var(--c-gray-313);
    margin-right: 5px;
}
.component__product-price-origin {
    color: var(--c-gray-868c);
    position: relative;
    font-size: 14px;
    line-height: 24px;
}
.component__product-price-origin:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: var(--bg-c-gray-8c8c);
    top: calc(50% - 1px);
}

.component__product-price .has-origin-price, .component__product-price .no-origin-price {
    display: none;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: .1;
}
.config__page--controll .has-origin-price {
    display: block !important;
}
.component__product-price .has-origin-price, .component__product-price .no-origin-price {
    display: none;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: .1;
}
.component__product-cart {
    display: inline-block;
    position: relative;
    line-height: 1;
}
.component__product-cart .iconfont {
    color: var(--c-black-000);
    font-size: 18px;
    line-height: 24px;
}

.icon-c_icon_addcart:before {
    content: "\e604";
}
.component__product .component-sku-picker {
    --last-slide-margin-right: 0;
    font-size: 0;
}
.component-sku-picker.swiper-theme {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 24px;
    margin: 2px 0;
}
.component__product .component-sku-picker .swiper-container {
    width: 100%;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    transform: translateZ(0);
}
.component__product .component-sku-picker .swiper-slide {
    width: auto;
}

.component-sku-picker.swiper-theme .component-sku-picker-dot.actived {
    width: 24px;
    height: 24px;
    border: 1px solid var(--c-black-222);
}
.component__product .component-sku-picker-dot {
    display: inline-block;
    border-radius: 12px;
    font-size: 12px;
}

.component-sku-picker-dot:first-child {
    margin-left: 5px;
}
.component-sku-picker-dot {
    background-color: var(--bg-c-white-ff);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component-sku-picker.swiper-theme .component-sku-picker-dot.actived img {
    width: 18px;
    height: 18px;
}
.component-sku-picker-dot  img.lazyloaded, img.swiper-lazy-loaded {
    -o-object-fit: unset;
    object-fit: unset;
    padding: 0!important;
}
img.lazyloaded, img.swiper-lazy-loaded {
    -o-object-fit: unset;
    object-fit: unset;
    padding: 0!important;
}
.component-sku-picker-dot-inner {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
}
.component-sku-picker-dot:not(.no-img,.more):after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 100%;
    pointer-events: none;
    z-index: 1;
}
.component-sku-picker.swiper-theme .component-sku-picker-dot:first-child {
    margin-left: 0;
}



.component-sku-picker.swiper-theme .component-sku-picker-dot {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
.component__product .component-sku-picker .swiper-slide:last-of-type {
    margin-right: var(--last-slide-margin-right);
}
.component__product .component-label .component-label-item {
    height: 14px;
    background-color:var(--bg-c-brown-rgba26257);
    border-radius: 2px;
    border: none;
}
.component-label-item.with_icon {
    border-color:var(--bg-c-pink-ffa39e);
    color: var(--c-pink-ffa39e);
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
}
.component-label-item {
    border: 1px solid var(--c-white-d9d9);
    color: var(--c-gray-595);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    font-weight: 400;
    margin: 2px;
    padding: 0 4px;
    border-radius: 4px;
}
.product__item, .product__item .component__product-picture-wrapper {
    border-radius: 0;
}
.component__product-main {
    position: relative;
    border: 1px solid #f2f2f3;
    height: auto;
}
.component__product-sold-out {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.4);
    z-index: 1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.component__product-sold-out-inner {
    width: 100%;
    font-family: PingFangSC-Regular,PingFang SC;
    color: var(--c-white-ff);
    text-align: center;
    text-transform: uppercase;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
.component__product input, select, textarea {
    font-size: 16px;
    font-weight: 400;
}

.component__product-collect .icon_is-collected, .component__product-collect.is-collected .iconfont {
    display: none;
}
.component__product-collect .iconfont {
    font-size: 16px;
    color: var(--c-gray-c4c4);
    line-height: 1;
}
.components-shop-cart {
    color: var(--c-black-000);
    background: var(--c-white-ff);
    border-radius: 50%;
    box-shadow: 0 10px 48px 16px rgba(0,0,0,.04), 0 8px 28px 0 rgba(0,0,0,.06), 0 4px 16px -8px rgba(0,0,0,.1);
    bottom: 186px;
    width: 48px;
    height: 48px;
}
.components-suspension-icon--active {
    display: flex;
}
.components-suspension-icon {
    height: 40px;
    width: 40px;
    right: 10px;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    display: none;
}
.components-suspension-icon-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.components-suspension-icon__badge {
    height: 16px;
    min-width: 16px;
    line-height: 16px;
    padding: 0 2px;
    background: var(--c-red-f522);
    font-size: 12px;
    font-weight: 400;
    border-radius: 14px;
    position: absolute;
    color: var(--c-white-ff);
    text-align: center;
    top: 2px;
    right: 2px;
    display: none;
    right: 0px;
}
.is-chrome .skiptranslate {
    height: 0px;
    visibility: hidden;
    display: none !important;
}
.VIpgJd-yAWNEb-L7lbkb {
    color: var(--c-black-222);
    background-color:var(--bg-c-white-ff);
    border: 1px solid #eee;
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    display: none;
    font-family: arial;
    font-size: 10pt;
    width: 420px;
    padding: 12px;
    position: absolute;
    z-index: 10000;
}
@media (max-width: 1000px){
.skiptranslate {
    display: none!important;
}}
.VIpgJd-yAWNEb-L7lbkb html, .VIpgJd-yAWNEb-L7lbkb body, .VIpgJd-yAWNEb-L7lbkb div, .VIpgJd-yAWNEb-L7lbkb span, .VIpgJd-yAWNEb-L7lbkb iframe, .VIpgJd-yAWNEb-L7lbkb h1, .VIpgJd-yAWNEb-L7lbkb h2, .VIpgJd-yAWNEb-L7lbkb h3, .VIpgJd-yAWNEb-L7lbkb h4, .VIpgJd-yAWNEb-L7lbkb h5, .VIpgJd-yAWNEb-L7lbkb h6, .VIpgJd-yAWNEb-L7lbkb p, .VIpgJd-yAWNEb-L7lbkb a, .VIpgJd-yAWNEb-L7lbkb img, .VIpgJd-yAWNEb-L7lbkb ol, .VIpgJd-yAWNEb-L7lbkb ul, .VIpgJd-yAWNEb-L7lbkb li, .VIpgJd-yAWNEb-L7lbkb table, .VIpgJd-yAWNEb-L7lbkb form, .VIpgJd-yAWNEb-L7lbkb tbody, .VIpgJd-yAWNEb-L7lbkb tr, .VIpgJd-yAWNEb-L7lbkb td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-align: left;
    line-height: normal;
}
.VIpgJd-yAWNEb-L7lbkb .VIpgJd-yAWNEb-mrxPge {
    color: var(--c-white-999);
    font-family: arial,sans-serif;
}
.VIpgJd-yAWNEb-L7lbkb .VIpgJd-yAWNEb-nVMfcd-fmcmS, .VIpgJd-yAWNEb-yAWNEb-Vy2Aqc-pbTTYe {
    clear: both;
    font-size: 10pt;
    position: relative;
    text-align: justify;
    width: 100%;
}
.VIpgJd-yAWNEb-L7lbkb .VIpgJd-yAWNEb-cGMI2b {
    min-height: 15px;
    position: relative;
    height: 1%;
}
.VIpgJd-yAWNEb-L7lbkb .VIpgJd-yAWNEb-Z0Arqf-PLDbbf {
    display: inline-block;
}
.VIpgJd-yAWNEb-L7lbkb .VIpgJd-yAWNEb-Z0Arqf-hSRGPd {
    color: var(--c-blue-15c);
    cursor: pointer;
    font-family: arial;
    font-size: 11px;
    margin-right: 15px;
    text-decoration: none;
}
.VIpgJd-yAWNEb-L7lbkb .VIpgJd-yAWNEb-fw42Ze-Z0Arqf-haAclf {
    display: none;
    width: 100%;
}
.VIpgJd-yAWNEb-fw42Ze-Z0Arqf-haAclf hr{
    color: var(--c-white-ccc);
    background-color:var(--bg-c-white-ccc);
    height: 1px;
    border: none;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.VIpgJd-yAWNEb-L7lbkb .VIpgJd-yAWNEb-Z0Arqf-H9tDt {
    margin-top: 20px;
}
.VIpgJd-yAWNEb-L7lbkb .VIpgJd-yAWNEb-jOfkMb-Ne3sFf {
    background: #29910d;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 2px 2px #1e6609;
    -moz-box-shadow: inset 0 2px 2px #1e6609;
    -webkit-box-shadow: inset 0 2px 2px #1e6609;
    color: white;
    font-size: 9pt;
    font-weight: bolder;
    margin-top: 12px;
    padding: 6px;
    text-shadow: 1px 1px 1px #1e6609;
}
.components-add-cart-animation {
    z-index: -100;
    position: fixed;
    opacity: 0;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
    z-index: 1000;
    position: fixed;
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
    left: -1000px;
    top: -1000px;
}
.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 104px;
    height: 104px;
    border-radius: 50px;
    background: #FFF url(https://www.gstatic.com/images/branding/product/2x/translate_24dp.png) 50% 50% no-repeat;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    -webkit-transform: scale(.4);
    transform: scale(.4);
    opacity: 0;
}
.VIpgJd-ZVi9od-aZ2wEe {
    margin: 2px 0 0 2px;
    -webkit-animation: spinner-rotator 1.4s linear infinite;
    animation: spinner-rotator 1.4s linear infinite;
}
.VIpgJd-ZVi9od-aZ2wEe-Jt5cK {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    stroke: #4285F4;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: spinner-dash 1.4s ease-in-out infinite;
    animation: spinner-dash 1.4s ease-in-out infinite;
}
.component__product-main {
    position: relative;
    border: 1px solid #f2f2f3;
}
img.img-err, img.lazyload, img.lazyloading, img.swiper-lazy-loading, img.swiper-lazy:not(.swiper-lazy-loaded) {
    -o-object-fit: contain;
    object-fit: contain;
    background-color:var(--bg-c-white-f5f5)!important;
    max-width: 100%!important;
    width: 100%!important;
    height: 100%!important;
    flex: 1;
}
.lazyload img.img-err, img.lazyload, img.lazyloading, img.swiper-lazy-loading, img.swiper-lazy:not(.swiper-lazy-loaded) {
    -o-object-fit: contain;
    object-fit: contain;
    background-color: var(--bg-c-white-f5f5)!important;
    max-width: 100%!important;
    width: 100%!important;
    height: 100%!important;
    flex: 1;
}

.userInfo__unlogin {
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 700;
    color: var(--c-black-1414);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
 .account__setting__item--wrapper .unlogined--status {
    background-color: var(--bg-c-white-ff);
    padding: 5px 20px;
}
.account-box{
    margin-bottom: 0;
}