:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    /* Add more CSS variables here */
--font-family: sans-serif;
--text-color: black;
--bg-c-white-ff: #fff;
--bg-c-white-ebeb: #ebebeb;
--bg-c-component-label-item: rgba(226 57 57 .1);
--bg-c-white-fafa: #fafafa;
--bg-c-white-eee: #eee;
--bg-c-white-e4e4: #e4e4e4;
--bg-c-fdghdufgh: #f9eae7;
--bg-c-red-ef44: #ef4444;
--bg-c-black-000: #000;
--bg-c-gray-2b3P: #2b333f;
--bg-c-blue-738: #73859f;
--bg-c-gray-313: #31353c;
--bg-c-red-dc26: #dc2626;
--bg-c-white-f2f2: #f2f2f2;
--bg-c-white-ffff: #FFFFFF;
--bg-c-yallow-ffc5: #ffc53d;
--bg-c-white-ccc: #ccc;
--bg-c-gray-8c8c: #8c8c8c;
--bg-c-yallow-ffac3: #ffac3a;
--bg-c-white-f5f5: #f5f5f5;
--bg-c-white-fff7: #fff7e6;
--bg-c-white-f8f9f9: #f8f9f9;
--bg-c-black-1414: #141414;
--bg-c-white-d9d9: #d9d9d9;
--bg-c-red-f522: #f5222d;
--bg-c-white-dee4: #dee4ec;
--bg-c-white-dede: #dedede;
--bg-c-black-111: #111;
--bg-c-whitef0f0: #f0f0f0;
--bg-c-green-58bf: #58bf47;
--bg-c-yallow-f3c7: #f3c730;
--bg-c-white-ecec: #ececec;
--bg-c-white-cedb: #cedbd9;
--bg-c-pink-ffa39e: #ffa39e;
--bg-c-red: red;
--bg-c-transparent: transparent;
--bg-c-swiper-pagination-bullet: rgba(0 0 0 .4);
--bg-c-irs-bar: rgba(0 0 0 .04);
--bg-c-black-rgba00002: rgba(0 0 0 .2);
--bg-c-black-rgba0006: rgba(0 0 0 .6);
--bg-c-black-rgba0007: rgba(0 0 0 .7);
--bg-c-black-rgba0005: rgba(0 0 0 .5);
--bg-c-brown-rgba-22657: rgba(226 57 57 .1);
--bg-c-gray-rgba-222228: rgba(222 228 236 .5);
--bg-c-black-rgba00015: rgba(0 0 0 .15);
--bg-c-gray-rgba242242: rgba(242 242 243 .8);
--bg-c-brown-rgba26257: rgba(226 57 57 .1);
--bg-c-brown-rgba262237: rgb(226 237 250);
--c-white-e0e1: #e0e1e3;
--c-black-000: #000;
--c-gray-868c: #868c93;
--c-white-cdd: #cdd0d9;
--c-red-ef444: #ef4444;
--c-red-e393: #e23939;
--c-red-ff3d: #ff3d00;
--c-red-dc26: #dc2626;
--c-gray-8c8c: #8c8c8c;
--c-gray-6669: #66696f;
--c-white-ff: #fff;
--c-gray-313: #31353c;
--c-gray-595: #595959;
--c-black-1414: #141414;
--c-black-222: #222;
--c-white-d9d9: #d9d9d9;
--c-white-ced0: #ced0d3;
--c-gray-5d62: #5d626a;
--c-white-a1a5: #a1a5ab;
--c-blue-66a8cc: #66a8cc;
--c-gray-2b3P: #2b333f;
--c-white-888: #888;
--c-red: red;
--c-yallow-fc6: #fc6;
--c-brown-rgba4351: rgb(43 51 63);
--c-white-fafa: #fafafa;
--c-white-b7bb: #b7bbbf;
--c-white-bbbd: #bbbdc3;
--c-red-f522: #f5222d;
--c-gray-bfbf: #bfbfbf;
--c-black-2828: #282828;
--c-gray-484c: #484c52;
--c-white-999: #999;
--c-blue-15c: #15c;
--c-black-rgba1717: rgb(17 17 17);
--c-gray-rgba9292: rgb(92 92 92);
--c-gray-rgba153153: rgb(153 153 153);
--c-gray-99999: #999999;
--c-white-fff1: #fff1f0;
--c-yallow-c79d: #c79d59;
--c-black-111: #111;
--c-pink-ffa39e: #ffa39e;
--c-white-ccc: #ccc;
--c-yallow-ffc4: #ffc44d;
--c-yallow-ff86: #ff8600;
--c-gray-9999: #9999a4;
--c-gray-d4d7: #d4d7df;
--c-gray-c4c4: #c4c4c4;
--c-blue-05e2: #05e2ff;
--c-white-c5c5: #c5c5c5;
--c-white-b183: #b18366;
--c-white-3949: #3949ab;
--c-gray-5c5c: #5c5c5c;
--c-white-e5e7: #e5e7eb;
--c-black-rgb000: rgb(0 0 0);
--c-gray-rgb255255: rgb(255 255 255);
--c-gray-rgba4351: rgba(43 51 63 .75);
--c-red-rgba24331: rgba(243 31 40 0);
--c-silver: silver;

}
